@font-face {
  font-family: 'IBM Plex Sans';
  src: url('ibm-plex-sans.eot');
  src:
    url('ibm-plex-sans.eot?#iefix') format('embedded-opentype'),
    url('ibm-plex-sans.woff') format('woff'),
    url('ibm-plex-sans.woff2') format('woff2'),
    url('ibm-plex-sans.ttf') format('truetype'),
    url('ibm-plex-sans.svg#IBM Plex Sans') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
